<% if (locals.message && message) { %>
  <div class="alert alert-<%= message.type %> alert-dismissible fade show m-3" role="alert">
    <%= message.text %>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
<% } %>
